[submodule "public/wordpress"]
	path = public/wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "public/content/themes/pdx"]
	path = public/content/themes/pdx
	url = git://github.com/willnorris/pdx-theme.git
[submodule "public/content/plugins/sermons"]
	path = public/content/plugins/sermons
	url = git://github.com/willnorris/wordpress-sermons.git
[submodule "public/content/plugins/opengraph"]
	path = public/content/plugins/opengraph
	url = git://github.com/willnorris/wordpress-opengraph.git
[submodule "public/content/plugins/hum"]
	path = public/content/plugins/hum
	url = git://github.com/willnorris/wordpress-hum.git
