[submodule "public/wordpress"]
	path = public/wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "public/content/themes/pdx"]
	path = public/content/themes/pdx
	url = git://github.com/willnorris/pdx-theme.git
[submodule "public/content/plugins/opengraph"]
	path = public/content/plugins/opengraph
	url = git://github.com/willnorris/wordpress-opengraph.git
[submodule "public/content/plugins/hum"]
	path = public/content/plugins/hum
	url = git://github.com/willnorris/wordpress-hum.git
[submodule "public/content/themes/twentytwelve"]
	path = public/content/themes/twentytwelve
	url = git://github.com/thethemefoundry/twentytwelve.git
[submodule "public/content/mu-plugins/analytics"]
	path = public/content/mu-plugins/analytics
	url = git://github.com/willnorris/wordpress-analytics.git
[submodule "public/content/plugins/markdown-on-save"]
	path = public/content/plugins/markdown-on-save
	url = git://github.com/markjaquith/markdown-on-save.git
[submodule "public/content/plugins/wp-help"]
	path = public/content/plugins/wp-help
	url = https://github.com/markjaquith/wp-help.git
[submodule "public/content/themes/genesis"]
	path = public/content/themes/genesis
	url = git@bitbucket.org:willnorris/genesis-theme.git
[submodule "public/content/plugins/sermon-browser"]
	path = public/content/plugins/sermon-browser
	url = https://github.com/willnorris/sermon-browser.git
[submodule "public/content/themes/outreach"]
	path = public/content/themes/outreach
	url = git@bitbucket.org:willnorris/outreach.git
[submodule "public/content/plugins/regenerate-thumbnails"]
	path = public/content/plugins/regenerate-thumbnails
	url = https://github.com/wp-plugins/regenerate-thumbnails.git
[submodule "public/content/plugins/simple-social-icons"]
	path = public/content/plugins/simple-social-icons
	url = https://github.com/wp-plugins/simple-social-icons.git
[submodule "public/content/plugins/genesis-responsive-slider"]
	path = public/content/plugins/genesis-responsive-slider
	url = https://github.com/wp-plugins/genesis-responsive-slider.git
