[submodule "public/content/uploads"]
	path = public/content/uploads
	url = https://github.com/cchmb/uploads.git

# WordPress Themes
[submodule "public/content/themes/genesis"]
	path = public/content/themes/genesis
	url = git@bitbucket.org:willnorris/genesis.git
[submodule "public/content/themes/cc14"]
	path = public/content/themes/cc14
	url = https://github.com/cchmb/cc14.git

# WordPress Must-Use Plugins
[submodule "public/content/mu-plugins/analytics"]
	path = public/content/mu-plugins/analytics
	url = https://github.com/willnorris/wordpress-analytics.git

# WordPress Plugins
[submodule "public/content/plugins/hum"]
	path = public/content/plugins/hum
	url = https://github.com/willnorris/wordpress-hum.git
[submodule "public/content/plugins/opengraph"]
	path = public/content/plugins/opengraph
	url = https://github.com/willnorris/wordpress-opengraph.git
[submodule "public/content/plugins/sermon-browser"]
	path = public/content/plugins/sermon-browser
	url = https://github.com/willnorris/sermon-browser.git
