html
log

etc/auth.caddy

# mysql backups
tools/mysql/var

# wordpress
wp-local-config.php
public/content/cache
public/content/advanced-cache.php
public/content/wp-cache-config.php
public/sitemap.xml

.sass-cache
.svn
