<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresByType text/css "access plus 32 days"

  ExpiresByType text/javascript "access plus 32 days"
  ExpiresByType application/javascript "access plus 32 days"
  ExpiresByType application/x-javascript "access plus 32 days"

  ExpiresByType image/png "access plus 32 days"
  ExpiresByType image/gif "access plus 32 days"
  ExpiresByType image/jpg "access plus 32 days"
  ExpiresByType image/jpeg "access plus 32 days"

  FileETag none
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # All audio files are served from media.cchmb.org
  RewriteRule ^(audio/.*\.mp3)$ http://media.cchmb.org/$1 [L,R=permanent]

  # Many WordPress plugins still assume the location of wp-content
  RewriteRule ^wordpress/wp-content/(.*)$  content/$1 [L,R=permanent]
  RewriteRule ^wordpress-content/(.*)$  content/$1 [L,R=permanent]

  # Old URLs
  RewriteRule ^rev_james_stalker            http://highlandsoffaith.org/ [L,R=permanent]
  RewriteRule ^Bible_Reading_Calendar.pdf$  content/plugins/mcheyne-reading-plan/calendar.pdf [L,R=permanent]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
