<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresByType text/css "access plus 32 days"

  ExpiresByType text/javascript "access plus 32 days"
  ExpiresByType application/javascript "access plus 32 days"
  ExpiresByType application/x-javascript "access plus 32 days"

  ExpiresByType image/png "access plus 32 days"
  ExpiresByType image/gif "access plus 32 days"
  ExpiresByType image/jpg "access plus 32 days"
  ExpiresByType image/jpeg "access plus 32 days"

  FileETag none
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule announcements.php /announcements [L,R=permanent]
  RewriteRule audio_sermons.php /audio-sermons [L,R=permanent]
  RewriteRule church_photo_page.php /photos [L,R=permanent]
  RewriteRule church_calendar.php /calendar [L,R=permanent]
  RewriteRule contacts.php /contacts [L,R=permanent]
  RewriteRule gods_plan_for_salvation.php /salvation [L,R=permanent]
  RewriteRule links.php /links [L,R=permanent]
  RewriteRule missions.php /missions [L,R=permanent]
  RewriteRule missions_chile.php /missions/chili [L,R=permanent]
  RewriteRule missions_thailand.php /missions/thailand [L,R=permanent]
  RewriteRule services_and_bible_studies.php /services [L,R=permanent]
  RewriteRule statement_of_faith.php /statement-of-faith [L,R=permanent]

  RewriteRule (audio/.*\.mp3) http://media.cchmb.org/$1 [L,R=permanent]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
