www.cchmb.org {
  redir https://cchmb.org
}

cchmb.org {
  root /var/www/cchmb.org/public
  log / /var/www/cchmb.org/log/access.log "{combined}"
  errors /var/www/cchmb.org/log/error.log

  gzip
  fastcgi / unix:/var/run/php/php7.0-fpm.sock php

  header / Strict-Transport-Security "max-age=31536000;";
  expires {
    match \.(js|css|png|jpg|jpeg|gif|ico|woff)$ 32d
  }

  import auth.caddy

  # do not allow directly loading php files in plugins or themes
  rewrite {
    regexp ^/content/.+\.php$
    to /403
  }
  status 403 /403

  rewrite {
    if {path} not_match ^\/wordpress\/wp-admin
    to {path} {path}/ /index.php?{query}
  }
}
