@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";

#nav {
  #s {
    width: 10em;
    @include transition-duration(0.3s);

    &:focus {
      width: 20em;
    }
  }

  > .menu-toggle {
    @include replace-text-with-dimensions('menu-toggle.png');
    background-position: right;
    background-size: 25px 25px;
    cursor: pointer;
    font-size: 100%;
    position: absolute;
    top: 1em;
    right: 2em;
  }

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      background: #eee;
    }
  }

  li:hover {
    background: #eee;
  }

  // small navigation
  &.main-small-nav {
    .menu {
      display: none;
      margin-right: 0;
    }

    #searchform {
      display: none;
      margin: 0.5em;
    }

    ul {
      @include no-bullets;
    }
    > ul {
      border: 1px solid #e6e6e6;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #eee;
    }
    li:last-child {
      border-bottom: 0;
    }
    a {
      display: block;
      padding: .5em .8em;
    }
    a:hover {
      background-color: #f8f8f8;
    }
    .nav-current {
      font-weight: bold;
    }
  }

  // full-size navigation
  &.main-nav {
    height: 2.5em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 1em 0;
    
    #searchform {
      float: right;
      padding: 0.4em 1em;

      #searchsubmit {
        display: none;
      }
    }

    a {
      line-height: 2.5em;
      padding: 0.6em 0.9em;
    }

    ul {
      @include horizontal-list(0);
      overflow: visible;

      // layout sub-menus
      ul {
        @include box-shadow(#999 1px 1px 5px);
        background: #fff;
        border: 1px solid #ccc;
        position: absolute;
        left: -9999px;
        li {
          margin: 0;
          float: none;
        }
      }

      li {
        margin-right: 1.5em;
        display: block;
        position: relative;

        &:hover ul {
          left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
