@import "compass/css3/box-shadow";
@import "compass/typography/text/replacement";

#nav {
  > .menu-toggle {
    cursor: pointer;
    @include replace-text('menu-toggle.png');
    background-size: 25px 25px;
    background-position: right;
  }

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      background: #eee;
    }
  }

  li:hover {
    background: #eee;
  }

  &.main-small-nav {
    .menu {
      display: none;
      margin-right: 0;
    }

    ul {
      @include no-bullets;
    }
    > ul {
      border: 1px solid #e6e6e6;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #eee;
    }
    li:last-child {
      border-bottom: 0;
    }
    a {
      display: block;
      padding: .5em .8em;
    }
    a:hover {
      background-color: #f8f8f8;
    }
    .nav-current {
      font-weight: bold;
    }
  }

  // Navigation
  &.main-nav {
    height: 2.5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    
    a {
      line-height: 2.5em;
      padding: 0.6em 0.9em;
    }

    ul {
      @include horizontal-list(0);
      overflow: visible;

      // layout sub-menus
      ul {
        @include box-shadow(#999 1px 1px 5px);
        background: #fff;
        border: 1px solid #ccc;
        position: absolute;
        left: -9999px;
        li {
          margin: 0;
          float: none;
        }
      }

      li {
        margin-right: 1.5em;
        display: block;
        position: relative;

        &:hover ul {
          left: 0;
        }
      }
    }
  }
}
