@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";

// minimum width for displaying the full-size menu
$full-menu-width: 472px;
$search-in-nav-width: 617px;

#nav {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 2.5em;
  margin: 1em 0;

  h1 {
    display: none;
  }

  a {
    color: #333;
    line-height: 2.5em;
    padding: 0.6em 0.9em;
    text-decoration: none;
  }

  a:hover, li:hover {
    background: #eee;
  }

  ul {
    @include horizontal-list(0);
    overflow: visible;

    // layout sub-menus
    ul {
      @include box-shadow(#999 1px 1px 5px);
      background: #fff;
      border: 1px solid #ccc;
      position: absolute;
      left: -9999px;
      li {
        margin: 0;
        float: none;
      }
      z-index: 1;
    }

    li {
      @include transition-duration(0.3s);
      @include breakpoint($ideal-line-width * 1.5) {
        margin-right: 1.5em;
      }
      display: block;
      position: relative;

      &:hover ul {
        left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  #searchform {
    float: right;
    padding: 0.4em 1em;

    // hide unless there is room to show it (see below)
    display: none;
    @include breakpoint($search-in-nav-width) {
      display: block;
    }


    #s {
      width: 10em;
      @include transition-duration(0.3s);

      &:focus {
        width: 20em;
      }
    }

    #searchsubmit {
      display: none;
    }
  }
}


#footer-widget-area {
  .widget_nav_menu {
    @include no-bullets;
  }

  .widget_nav_menu, .widget_search {
    display: none;
  }

  // show search box in footer if there isn't room in the nav bar
  @include breakpoint(max-width $search-in-nav-width - 1) {
    .widget_search {
      display: block;
    }
  }
}

// hide footer menu if full menu is shown
@include breakpoint(max-width $full-menu-width) {
  #nav {
    border: 0;
    height: auto;

    .menu, #searchform {
      display: none;
    }

    h1 {
      background-position: right;
      background-size: 25px 25px;
      cursor: pointer;
      display: block;
      font-size: 100%;
      position: absolute;
      right: 2em;
      top: 1em;
    }
  }
  #footer-widget-area {
    .widget_nav_menu, .widget_search {
      display: block;
    }
  }
}


