body.post-type-archive-sermon {
  #series {
    clear: both;
    article {
      float: left;
      margin: 0.5em;
    }
  }
  .type-sermon {
    float: left;
    margin: 0.5em;
  }
}

.sermons-sidebar {
  float: right;
}
