@import "compass/css3/transition";
@import "compass/typography/links/hover-link";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";

@import "config";

// sermon archive page
body.post-type-archive-sermon {
  #series {
    clear: both;
    article {
      float: left;
      margin: 0.5em;
    }
  }
  .type-sermon {
    float: left;
    margin: 0.5em;
  }

}

// single sermon page
body.single-sermon {
  article.sermon {
    @include transition(padding 0.3s);

    @include breakpoint($breakpoint-medium-width) {
      float: left;
      padding-right: 1em;
      width: 70%;
    }
    @include breakpoint($breakpoint-medium-width * 1.2) {
      padding-right: 2em;
    }
  }

  // use intrinsic ratios to make embedded videos resize responsively
  .sermon-video {
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 56.25%; // 16 / 9
    padding-top: 30px;
    height:0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  .entry-meta {
    margin-bottom: 1em;
  }

  #sermon-data-tabs {
    @include horizontal-list(0);
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 2.5em;
    margin: 1em 0;

    a {
      text-decoration: none;
      display: block;
      color: #333;
      line-height: 2.5em;
      padding: 0 0.9em;

      &:hover {
        background: #eee;
      }
    }

  }

  .sermons-sidebar {
    @include transition(padding 0.3s);

    @include breakpoint($breakpoint-medium-width) {
      margin-left: 70%;
      padding-left: 1em;
    }
    @include breakpoint($breakpoint-medium-width * 1.2) {
      padding-left: 2em;
    }

    > .series-title {
      font-size: 1.2em;
      font-weight: bold;
    }

    ul {
      @include no-bullets;
      margin: 0;
      padding: 0;

      li {
        &.current {
          font-weight: bold;
        }
      }

      a {
        @include hover-link;
        line-height: 1em;
        display: block;
        padding: 0.5em 0;

        &:hover {
          //background: #eee;
        }
      }

      .title {
        color: $link-color;
        display: block;
      }

      time {
        font-size: 0.8em;
        color: #999;
      }
    }
  }
}

