@import "blueprint";
@import "blueprint/debug";
@import "blueprint/fancy-type";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";

@import "config";

// reset
@import "compass/reset";


@include blueprint-typography;
@include blueprint-interaction;

.assistive-text, .nocomments { 
  @include squish-text;
}

@import "layout";
@import "navigation";

#header {

  hgroup {
    margin: 0 auto;
  }
}

.site-description {
  display: none;
}

#main {
  clear: both;
}


h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.entry-title {
  font-family: "Gruppo", "Georgia", serif;
  font-size: 250%;
  a {
    text-decoration: none;
  }
}

header[data-image-large] {
  position: relative;
  margin-bottom: 1em;

  img {
    width: 100%;
  }

  .entry-title {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5;
    position: absolute;
    text-align: right;
    width: 100%;

    @include breakpoint(30em) {
      margin-bottom: 1em;
    }

    @include breakpoint(40em) {
      font-size: 2.5em;
    }

    a {
      color: #FFF;
      margin: 0 1em;
    }
  }
}

@import "sermons";
