// import config first
@import "config";

@import "compass/typography/lists/bullets";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/link-colors";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";

// reset
@import "normalize";


html {
  // use the standard default font size of 16px
  font-family: $base-font-family;
  line-height: 1.5;
}

a {
  @include link-colors($link-color);
}


// == Headers == //
// values from blueprint that provide vertical rhythm

#{headers()} {
  font-family: $header-font-family;
  a {
    @include hover-link;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin-bottom: 1.5em;
}

.assistive-text, .nocomments { 
  @include squish-text;
}

@import "layout";
@import "navigation";

.site-description {
  display: none;
}

#main {
  clear: both;
}

header[data-image-large] {
  position: relative;
  margin-bottom: 1em;

  img {
    width: 100%;
  }

  .entry-title {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    line-height: 1.5;
    position: absolute;
    text-align: right;
    width: 100%;

    @include breakpoint(30em) {
      margin-bottom: 1em;
    }

    @include breakpoint(40em) {
      font-size: 2.5em;
    }

    a {
      color: #FFF;
      margin: 0 1em;
    }
  }
}

@import "sermons";
