@import "blueprint";
@import "blueprint/debug";
@import "blueprint/fancy-type";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";


@import "config";

// reset
@import "blueprint/reset";

// additional reset for HTML5 elements
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  @include blueprint-basic-reset;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display:block;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;
}

.skip-links,.nocomments { display: none; }

#wrapper {
  max-width: 980px;
  margin: 1em auto;
}

#header {
}

// Navigation
#nav {
  float: right;
  font-size: 120%;

  > ul {
    @include inline-block-list-container;
    > li {
      @include inline-block-list-item;
      margin-left: 2em;
      position: relative;
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
      }

      &:hover ul {
        display: block;
      }
    }
  }
}

.site-title {
  float: left;

  > a {
    display: block;
    width: 350px;
    height: 119px;
    @include replace-text('logo.png');
  }
}
.site-description {
  display: none;
}

#main {
  clear: both;
}
