@import "blueprint";
@import "blueprint/debug";
@import "blueprint/fancy-type";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";

@import "config";

// reset
@import "compass/reset";

@include blueprint-typography;
@include blueprint-interaction;

.skip-links, .nocomments { display: none; }

#wrapper {
  max-width: 980px;
  margin: 1em auto;
}

#header {
}

// Navigation
#nav {
  float: right;

  ul {
    @include horizontal-list(0);
    overflow: visible;

    li {
      margin-left: 1.5em;
      display: block;
      position: relative;

      &:hover ul {
        left: 0;
      }
    }

    // layout sub-menus
    ul {
      position: absolute;
      left: -9999px;
      li {
        margin: 0;
        float: none;
      }
    }
  }
}

.site-title {
  float: left;

  > a {
    display: block;
    width: 350px;
    height: 119px;
    @include replace-text('logo.png');
  }
}
.site-description {
  display: none;
}

#main {
  clear: both;
}
